//FONT IMPORTS
@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,800|Montserrat:400,600,800');


//Variables
$palsRed: #ba1f31;
$darkBlue: #175676;
$lightBlue: #a8d0db;
$lightGrey: #dad6d6;
$steel: #4c5b61;


//Base Styles
html {
    /* $rembase = 10px */
    font-size: 62.5%;
}

body{
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 2.5rem; 
    padding: 0;
    color: $steel;
    padding: 0;
    margin: 0;
    position: relative;
}

nav{
    border-bottom: 2px solid $palsRed;
}

main{
    position: relative;
}

h1{
    font-family: 'EB Garamond', Garamond, Georgia, 'Times New Roman', serif;
    font-size: 4rem;
    color: $steel;
    margin-bottom: 2rem;
}

h2{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 2.2rem;
    color: $palsRed;
    margin-bottom: 0rem;
}

h3{
    font-family: 'EB Garamond', Garamond, Georgia, 'Times New Roman', serif;
    font-size: 2.4rem;
    color: black;
    font-weight: bolder !important;
}

h4{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: $darkBlue;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 800;
}

blockquote{
    font-family: 'EB Garamond', Garamond, Georgia, 'Times New Roman', serif;
    font-size: 2rem;
    padding: 0 1.5rem;
    margin: 3rem 5rem;
    color: $darkBlue;
    font-style: italic;
    border-left: 3px solid $lightGrey;
    
}

form{
    padding: 1rem;
}

footer{
    color: white;
    margin-top: 2rem;
}

footer h4{
    color: white;
}

footer a{
    color: white;
}
footer a:hover{
    color: white;
}

label{
    margin-bottom: 0;
    color: $darkBlue;
}

a{
    color: $darkBlue;
}



// ID styling
#primaryContainer{
    margin-top: 2rem;
}

#userPic img{
    height: 50px;
    width: 50px;
    align-self: center;
}

#mainText{
    padding-left: 0;
}

#nextSteps{
    color: white;
}

#testimonial{
    position: absolute;
    bottom: 0;
    width: 100%;
}

#testimonial p{
    padding: 5rem;
    color: $steel;
    text-align: center;
}

#deleteSuccess{
    position: absolute;
    margin-top: -20px;
    z-index: 1000;
    width: 100%;
}

#profileEditBasic input{
    width: 100%;
}

#profileEditDeep {
    padding-left: 2rem;
    padding-right: 2rem;
}

#profileEditDeep input{
    width: 100%;
}



//Class styling//
.greyBG{
    background-color: $lightGrey;
    padding: 1rem;
}

.redBG{
    background-color: $palsRed;
    padding: 1rem;
}

.steelBG{
    background-color: $steel;
}

.blueBG{
    background-color: $lightBlue;
    padding: 1rem;
}

.dotsBG {
    background-image: url('../imgs/pals_grey-dots.svg');
    background-position: center bottom;
    background-repeat: no-repeat;
}

.disclaimer{
    margin: 1.8rem 0;
    font-size: 1.2rem;
    line-height: 1.6rem;
}

.btn-profile{
    display: inline-block;
    width: 45%;
}

//Bootstrap adjustments//
.btn-outline-danger{
    color: $palsRed;
    border-color: $palsRed;
}

.btn-danger{
    background-color: $palsRed;
    padding: .5rem 2rem;
    // margin-top: .5rem;
}

.btn-lg{
    font-size: inherit;
}

.btn-primary{
    background-color: $darkBlue;
}

.btn a{
    text-decoration: none;
    color: inherit;
}

.form-control{
    font-size: inherit;
}

.dropdown-item{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: $lightGrey
}

.dropdown-menu{
    width: 100%;
    text-align: center;
}



//form validation
input:invalid {
    border: 2px solid $palsRed;
}