//Import
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//Variables


//Base Styles
body{
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5rem; 
    padding: 0;
}

h1{
    font-family: Garamond, serif;
    font-size: 3rem;
}